<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <!-- endinject -->
</head>
<body>
  <div class="container-scroller">
    <div class="row p-0 m-0 proBanner d-none" id="proBanner">
      <div class="col-md-12 p-0 m-0">
        <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
          <div class="ps-lg-1">
            <div class="d-flex align-items-center justify-content-between">
              <a href="https://www.bootstrapdash.com/product/star-admin-pro/?utm_source=organic&amp;utm_medium=banner&amp;utm_campaign=buynow_demo"
                target="_blank" class="btn me-2 buy-now-btn border-0">Get Pro</a>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <a href="https://www.bootstrapdash.com/product/star-admin-pro/"><i
                class="mdi mdi-home me-3 text-white"></i></a>
            <button id="bannerClose" class="btn border-0 p-0">
              <i class="mdi mdi-close text-white me-0"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 d-flex align-items-top flex-row fixed-top">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top">
        <ul class="navbar-nav">

        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown d-none d-lg-block">

            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
              aria-labelledby="messageDropdown">
          </li>
          <li class="nav-item d-none d-lg-block">

          </li>




        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>Light
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-bs-toggle="tab" href="#todo-section" role="tab"
              aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-bs-toggle="tab" href="#chats-section" role="tab"
              aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="/client">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Home </span>
            </a>
          </li>

          <li class="nav-item nav-category">Products</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="menu-icon mdi mdi-floor-plan"></i>
              <span class="menu-title">Category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <!--Categorys-->
                <% for (const pc of c) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/category/<%= pc.id%>">
                      <%= pc.nombre%>
                    </a>
                  </li>
                  <% } %>
              </ul>
            </div>
          </li>
        </li> 


          <li class="nav-item">
            <a class="nav-link" href="/" aria-controls="icons">
              <i class="menu-icon mdi mdi mdi-account-remove"></i>
              <span class="menu-title">Log out</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="content-cards" style="word-break: break-word;" id="card">
                  <div class="caard" style="background-color: white; display: flex; justify-content: center; padding: 3rem; width: 95%; gap:50px;" >
                    <div class="img_photo" style="display: flex; justify-content: center; padding-right: 2rem;">
                      <img src="<%= img.url%>" alt="" class="img_photo">
                    </div>
                    <div class="card-text" style="">
                      <h5>Name: <%= p.nombre%>
                      </h5>
                      <p>Software: <%= p.software%>
                      </p>
                      <p>State: <%= p.estado%>
                      </p>
                      
                      <p>Description: <%= p.descripcion%>
                      </p>
                      <p style="font-size: 1.1rem;">Cantidad: <%= ct%>
                      </p>
                      <p style="font-size: 1.1rem;">Monto total a pagar: <%= tc%>$</p>
                      
                      <!---
                      <form action="/buytocart/<%= p.id%>" method="POST">
                      <p>Cant: <input type="number" min="1" name="cant" required></p>
                      <input type="hidden" value="<%= p.precio%>" name="totalPagado">
                      <a class="color-a"><button class="btn btn-success"
                        style="color: white;">Buy to cart</button></a>
                      </form>-->
                    </div>
                    <div class="card-text">
                      <form class="forms-sample" action="/buytocart/product/<%= p.id%>" method="POST">
                        <!--Agregar products-->
                        <div class="form-group">
                          <label for="exampleInputCredit1">Credit Card</label>
                          <input type="text" name="numbercredit" maxlength="16" class="form-control" id="exampleInputCredit1" placeholder="Name" pattern="[0-9\s]{16}" title="Sólo numeros" required>
                        </div>
                        
                        <div class="form-group">
                          <label for="exampleInputCVV1">CVV</label>
                          <input type="text" name="cvv" maxlength="3" pattern="[0-9\s]{3}" class="form-control" id="exampleCVV1" placeholder="CVV" required>
                        </div>
                        <div class="form-group">
                          <label for="exampleExpiration1">Expiration year</label>
                          <input type="month" class="form-control" id="exampleExpiration1"
                            placeholder="Expiration" name="expiration" required>
                        </div>
                        <input type="hidden" value="<%= tc%>" name="totalPagar">
                        <input type="hidden" value="<%= ct%>" name="cant">
                        <button type="submit" class="btn btn-primary me-2"
                          style="color:white;">Purchase</button>
                        <button class="btn btn-light">Cancel</button>
                      </form>
                      
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Programacion III</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights
              reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/vendors/progressbar.js/progressbar.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/hoverable-collapse.js"></script>
  <script src="/js/template.js"></script>
  <script src="/s/settings.js"></script>
  <script src="/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/jquery.cookie.js" type="text/javascript"></script>
  <script src="/js/dashboard.js"></script>
  <script src="/js/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>
</html>